<body>
  <header>
    <h1>
      <a class="apps-name" href="/">My client</a>
    </h1>
    <nav class="pc-nav">
      <ul>
        <li><%= link_to 'ログイン', new_user_session_path, method: :get, class: "btn-b" %></li>
      </ul>
    </nav>
  </header>
</body>
