
<link rel="stylesheet" href="tops.scss">
<link rel="stylesheet" href="tops.css">>

<%= render "a-header"%>

<div class="contents">
  <div class="left-contents">
    <div class="indexs">
      <div class="client-index">
        <%= link_to '顧客一覧', clients_path, method: :get, class: "btn-a" %>
      </div>
      <div class="task-index">
        <%= link_to 'タスク一覧', root_path, method: :get, class: "btn-a" %>
      </div>
    </div>
  </div>
  
  <div class="right-contents">
    <div class="tasks">
      <a class="todays-task">今日のタスク</a>
    </div>
  </div>
</div>
