.btn-a{
	display: block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
  font-weight: bold;
}
.btn-a:hover {
	 background: #1B1B1B;
         color: #fff;
	 cursor: pointer;
	 text-decoration: none;
}
.btn-b {
	display: block;
	position: relative;
	width: 130px;
  padding: 0.8em;
  margin: 0 5px 10px 5px;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
        border-radius: 30px;
	border:1px solid #1B1B1B;
	 -webkit-backface-visibility: hidden; 
	-moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.btn-b:hover {
	 cursor: pointer;
	 text-decoration: none;
	-webkit-animation: simple_square_btn6 0.5s both;
	-moz-animation: simple_square_btn6 0.5s both;
	        animation: simple_square_btn6 0.5s both;
}
@-webkit-keyframes simple_square_btn6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@-moz-keyframes simple_square_btn6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes simple_square_btn6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.btn-c{
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
  font-weight: bold;
}
.btn-c:hover {
	 background: #E85A70;
         color: #fff;
	 cursor: pointer;
   text-decoration: none;
}
.btn-d{
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
	font-weight: bold;
	margin: 0 300px;
}
.btn-d:hover {
	 background: #0C88CA;
         color: #fff;
	 cursor: pointer;
   text-decoration: none;
}
.btn-e{
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
  font-weight: bold;
  z-index:100;
}
.btn-e:hover {
	 background: #ffa300;
         color: #fff;
	 cursor: pointer;
   text-decoration: none;
   z-index:100;
}
.btn-f{
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
  font-weight: bold;
	z-index:100;
	margin: 30px auto;
}
.btn-f:hover {
	 background: #ffa300;
         color: #fff;
	 cursor: pointer;
   text-decoration: none;
   z-index:100;
}
.btn-g{
	display: block;
	width: 250px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
  font-weight: bold;
	z-index:100;
}
.btn-g:hover {
	 background: #ffa300;
         color: #fff;
	 cursor: pointer;
   text-decoration: none;
   z-index:100;
}
.btn-h {
	margin: 30px auto;
  max-width: 180px;
  text-align: left;
  background-color: #ffa300;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
}

.btn-h:active {
  transform: translateY(4px);
  border-bottom: none;
}
.btn-i{
	display: block;
	width: 250px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
  font-weight: bold;
	margin-left: 34px;
}
.btn-i:hover {
	 background: #ffa300;
         color: #fff;
	 cursor: pointer;
   text-decoration: none;
}
.btn-j{
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
  font-weight: bold;
	z-index:100;
	margin:0 350px 0 270px;
}
.btn-j:hover {
	 background: #ffa300;
         color: #fff;
	 cursor: pointer;
   text-decoration: none;
	 z-index:100;
}
.btn-k{
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
  font-weight: bold;
	margin: 0 auto;
}
.btn-k:hover {
	 background: #ffa300;
         color: #fff;
	 cursor: pointer;
   text-decoration: none;
}
.btn-l{
	display: block;
	width: 250px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
  font-weight: bold;
	margin-left:230px;
}
.btn-l:hover {
	 background: #ffa300;
         color: #fff;
	 cursor: pointer;
   text-decoration: none;
}

.btn-m {
  text-align: start;
  background-color: #ffa300;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
}

.btn-m:active {
  transform: translateY(4px);
  border-bottom: none;
}
.btn-l{
	display: block;
	width: 200px;
	padding: 0.8em;
	margin: 7vh auto 15vh;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
	font-weight: bold;
}
.btn-l:hover {
	 background: #1B1B1B;
         color: #fff;
	 cursor: pointer;
	 text-decoration: none;
}
.btn-n {
  width: 180px;
  text-align: center;
  background-color: #ffa300;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
	padding: 10px 24px;
	margin: 0 auto;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
}

.btn-n:active {
  transform: translateY(4px);
  border-bottom: none;
}
.btn-o {
  width: 180px;
  text-align: center;
  background-color: #FF3366;
  font-size: 16px;
  color: #FFF;
	text-decoration: none;
  font-weight: bold;
	padding: 10px 24px;
	margin: 10px 0 30px;
  border-radius: 4px;
	border-bottom: 4px solid #CC3333;

}
.btn-o:active {
  transform: translateY(4px);
  border-bottom: none;
}
.btn-p{
	display: block;
	width: 160px;
	padding: 0.8em;
	margin: 30px 40px;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border:1px solid #1B1B1B;
	font-weight: bold;
}
.btn-p:hover {
	 background: #1B1B1B;
         color: #fff;
	 cursor: pointer;
	 text-decoration: none;
}
.td-btn{
	border-radius: 15px;
	border: solid black 1px;
}