<html>
  <head>
    <link rel="stylesheet" href="header.css">
  </head>

  <body>
    <header>
      <h1>
        <a class="apps-name" href="/">My client</a>
      </h1>
      <nav class="pc-nav">
        <ul>
          <li><%= link_to '新規登録',  new_user_registration_path, method: :get, class: "btn-b" %></li>
        </ul>
      </nav>
    </header>
  </body>
</html>