.parent{
  height: 100vh;
}
.child-a{
  text-align: center;
  padding: auto ;

}
.child-z{
  height: 40px;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top:700px;
  left:1200px;
}



.clients {
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding:0;
}

.client-name{
  color: black;
  text-decoration: none;
}

/* .text-title {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.text-title:before, 
.text-title:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}
.text-title:before {
  left: 7px;
}
.text-title:after {
  right: 7px;
} */