.parent{
  border: black solid 1px;
  margin-top: 80px;
  height: 100vh;
}
.child-a{
  height: 40px;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top:700px;
  left:1200px;
}