.parent{
  height: 100vh;
}
.child-a{
  text-align: center;
  padding: auto ;

}
.clients {
  display: flex;
  flex-direction: column;
}
.client{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 300px;
  height: 40px;
  margin: 10px auto;
  border-radius: 10px;
}
.client-name{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.child-z{
  height: 40px;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top:700px;
  left:1200px;
}