
.child-e{
  justify-content: space-around;
  background-color: #3333;
  padding: 10px 0;
  border-radius: 20px;
}

.calendar {
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-size: cover;
}

.item {
  margin: 0.5vw;
  border: 2px solid rgb(0, 0, 0);
  width: 22vw;
  height: 300px;
  background-color: #f5f5f5;
  box-shadow: 10px 10px 15px -10px;
  overflow: auto;
  border-radius: 20px;
}
/* .item-b {
  margin: 0.5vw;
  border: medium solid rgb(0, 0, 0);
  width: 20vw;
  height: auto;
  background-color: rgb(246, 253, 255);
} */

.date {
  height: 5vh;
  display: flex;
  font-size: 3vh;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.content {
  min-height: 25vh;
  padding: 5px;
  white-space: nowrap;
  overflow: scroll;
  display: block;
}

.plan-list {
  margin: 1vh 0;
  display: flex;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}

.lavel {
  font-size: 3vh
}

.text-input {
  height: 4vh;
  width: 15vw;
  margin: 0 2vw;
}

.date-select {
  height: 4vh;
  width: 13vw;
  margin: 0 2vw;
}
.client-select {
  height: 4vh;
  width: 13vw;
  margin: 0 2vw;
}
.c-link{
  text-decoration: none;
  color: black;
}
.c-link:hover{
  color: purple;
}